.food-list-wrapper {
  margin-top: 50px;

  .food-item {
    margin: 5px auto;
    border-radius: 15px;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 4px;

    &.selected {
      color: green;
    }
  }

  .food-item:hover {
    color: green;
    cursor: pointer;
  }

  .form-check {
    margin: 0;
  }
}
