.food-item {
  padding: 5px 0;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;

  .date-time-input {
    padding: 5px;
  }

  .form-control {
    padding: 5px;
  }

  .edit-button {
    background-color: transparent;
    border: 0px;
  }

  .far.fa-edit {
    margin-left: 10px;
  }

  .custom-checkbox {
    margin-right: 10px;
  }

  .custom-label {
    width: 100%;
  }

  .food-text-wrapper {
    img {
      margin-right: 10px;
    }

    span {
      margin-top: 10px;
    }

    display: inline-flex;
  }
}
