.food-item {
  padding: 5px 0;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  
  .date-time-input {
    padding: 5px;
  }

  .form-control {
    padding: 5px;
  }

  .edit-button {
    background-color: transparent;
    border: 0px;
    margin-left: 10px;
  }
}
