.food-info-tile-wrapper {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  min-height: 230px;
  position: relative;
  margin-bottom: 50px;
  display: inline-block;
  padding: 24px;
  box-shadow: 1px 1px 5px #c1c1c1;
  border-radius: 10px;

  &:hover {
    // border: 1px solid #5e5858;
    transition: 0.2s;
    box-shadow: 2px 3px 5px #949494;
    cursor: pointer;
  }

  .link {
    text-decoration: none;
  }

  .food-name {
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
  }

  .food-tile-image {
    max-width: 150px;
    height: 100%;
    max-height: 200px;
  }

  .form-control-test {
    background-color: pink;
    color: red;
  }

  .search-btn{
    height: 40px;
  }
}
